.login {
  background-color: rgba(171, 201, 255, 1);
}

.welcome-text {
  padding-left: 16px;
  padding-top: 200px;
  color: white;
}

.button-login {
  display: block;
  margin: auto;
  width: 358px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 110, 110, 1);
  color: white;
}

.other-login {
  padding-top: 20px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.logo-login {
  padding-top: 25px;
}

.logo-login-list {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

.register-text {
  font-size: 12px;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 169px;
}

.register-text a {
  text-decoration: none;
  color: white;
}
