.seat {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.seat.basic {
  background-color: blue !important;
}

.seat.disable {
  background-color: salmon !important;
}

.seat.pregnant {
  background-color: #00dfa2 !important;
}

.seat.active {
  background-color: red !important;
}
