.content-news {
  margin: 16px;
  height: 80px;
  box-shadow: 1px 7px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 7px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 15px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

.content-news h6 {
  font-size: 12px;
}

.content-news p {
  font-size: 10px;
}
