.blank {
  margin-top: 80px;
}

.card-rute {
  border: 1px solid rgba(40, 165, 236, 1);
  margin: 13px 16px;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 100px;
  padding: 0 50px;
  box-shadow: -7px 0px 0px -1px rgba(40, 165, 236, 1);
  -webkit-box-shadow: -7px 0px 0px -1px rgba(40, 165, 236, 1);
  -moz-box-shadow: -7px 0px 0px -1px rgba(40, 165, 236, 1);
}

.destinasi {
  font-size: 12px;
  width: 150px;
}

.kode-rute {
  width: 25px;
  height: 25px;
  background-color: rgba(40, 165, 236, 1);
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 7px;
}

.keterangan {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.keterangan-text {
  font-size: 14px;
}

.keterangan-jam {
  font-size: 12px;
}
